*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    min-height: 100vh;
    overflow: hidden;
    background: #000;
}
p{
    position: relative;
    font-size: 1.5em;
    letter-spacing: -0.05em;
    line-height: 0.7em;
    background: url(img.jpg), url(img.jpg);
    background-blend-mode: color-dodge;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
}
